:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
    /* --md-code-font:  */
  }


@font-face {    
    font-family: 'LXGW';    
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');/*IE*/     
}

.md-grid {
    max-width: 1280px;   
}

/* note warning等特殊提示框文本字体调节*/
.md-typeset .admonition,
.md-typeset details {
    font-size: 15px
}

