:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
    /* --md-code-font:  */
  }


@font-face {    
    font-family: 'LXGW';    
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');/*IE*/     
}

.md-grid {
    max-width: 1280px;   
}

/* note warning等特殊提示框文本字体调节*/
.md-typeset .admonition,
.md-typeset details {
    font-size: 15px
}

/* 浅色主题颜色修改*/
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #efefef;
  --md-primary-bg-color: #000000;
  --md-typeset-a-color: #1976d2;
  --md-footer-fg-color: #000000;
  --md-footer-bg-color: #efefef;
  --md-footer-bg-color--dark: #efefef;
  --md-footer-fg-color--light: #000000;
  --md-footer-fg-color--lighter: #000000;
  --md-code-bg-color: #fafafa;
  --md-code-fg-color: var(--md-typeset-color);
}

/*深色主题颜色修改*/
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #161616;
  --md-default-bg-color--light: #161616;
  --md-default-bg-color--lighter: #161616;
  --md-default-bg-color--lightest: #161616;
  --md-default-fg-color: rgba(255,255,255,0.9);
  --md-default-fg-color--light: rgba(255,255,255,0.85);
  --md-default-fg-color--lighter: rgba(255,255,255,0.8);
  --md-default-fg-color--lightest: rgba(255,255,255,0.6);
  --md-primary-fg-color: #0d0d0d;
  --md-typeset-a-color: #d3d3d3;
  --md-footer-fg-color: #fff;
  --md-footer-bg-color: #0d0d0d;
  --md-footer-bg-color--dark: #0d0d0d;
  --md-footer-fg-color--light: #fff;
  --md-footer-fg-color--lighter: #fff;
  --md-code-bg-color: #1d1d1d;
}

input.md-search__input {
  background-color: #fff;
}

[data-md-color-scheme="slate"] input.md-search__input {
  background-color: #000;
}

[data-md-color-scheme="slate"] .md-typeset .md-content__button {
  color: #555555;
}

.md-copyright {
  font-size: .55rem;
}

